@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.user {
  width: 100vw;
  height: 90vh;
  box-sizing: border-box;
  background-color: rgb(175, 219, 255);
}
.card {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  max-width: 95vw;
  height: 9vh;
  margin: 0 auto 10px;
  /* padding: 25px; */
  padding-left: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* .pointsCard {
  flex-grow: 0.3;
  display: flex;
  flex-direction: column;
  transform: translateY(-5px);
} */

.pointstd {
  padding: 0;
}

table {
  border-collapse: collapse;
  border: none;
}

tr,
td {
  border: none;
  width: 43.5%;
}
td,
th {
  padding: 0 !important;
}

.info td {
  padding-top: 0.8% !important;
}

.heading td {
  color: rgb(58, 13, 221);
}

.coin {
  height: 25px;
  width: 35px;
  transform: translateY(5px);
}

/* .nameCard {
  flex-grow: 0.7;
  display: flex;
  flex-direction: column;
  width: 10vw;
} */

/* .lastLoginCard {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
} */

.courses {
  width: 100vw;
  min-height: 70vh;
  overflow-y: scroll;
  /* background-color: red; */
}

.all {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  overflow-y: scroll;
}

.completed {
  /* position: relative; */
  z-index: 1;
  background-color: #4caf50;
  background-color: #43a047;
  background-color: #81c784;
  width: 28vw;
  height: 40vh;
  margin: 0 auto 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  overflow-y: scroll;
}

.attempted {
  /* position: relative; */
  z-index: 1;
  background-color: #ffeb3b;
  width: 28vw;
  height: 40vh;
  margin: 0 auto 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  overflow-y: scroll;
}

.todo {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: 28vw;
  height: 40vh;
  margin: 0 auto 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
  }
  .card {
    width: 50vw;
    height: 50vh;

    margin: 0 auto;
  }

  .text {
    font-size: 0.7em;
  }
}

/* !.................Admin----------------------- */

.admin {
  padding: 5vh 10vw;
  text-align: center;
}

.admin p {
  margin-bottom: 3vh;
  font-size: 2em;
  color: rgb(224, 71, 143);
  border-bottom: 1px solid white;
}

.userCard {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  max-width: 35vw;
  height: 4vh;
  margin: 0 auto 10px;
  /* padding: 25px; */
  font-size: 20px;
  padding-left: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

/* ............................................ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .completed {
    font-size: 0.6em;
    padding: 10px;
  }

  .attempted {
    font-size: 0.6em;
    padding: 10px;
  }

  .todo {
    font-size: 0.6em;
    padding: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
