.showUser {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  background-color: rgb(175, 219, 255);
  padding: 5vh 10vw;
}

.user {
  position: relative;
  z-index: 1;
  background-color: white;
  max-width: 75vw;
  min-height: 7vh;
  height: fit-content;
  margin: 0 auto 10px;
  /* padding: 25px; */
  padding-left: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.line {
  height: 10px;
}

.info {
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
}

.heading {
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  font-size: 1.1em;
  color: rgb(24, 124, 255);
}

.coin {
  height: 25px;
  width: 35px;
  transform: translateY(5px);
}

.courses {
  width: 100vw;
  height: 70vh;
  /* background-color: red; */
}

.all {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 242, 167);
  max-width: 75vw;
  height: 50vh;
  margin: 0 auto 10px;
  padding: 50px;

  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  overflow-y: scroll;
}

.enrolled {
  height: fit-content;
  /* background-color: white; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.courseName {
  color: rgb(24, 124, 255);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user {
    font-size: 0.5em;
  }

  .line {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  .pointstd {
    margin: 0;
  }

  table tr td {
    padding: 0 !important;
  }

  table tr {
    padding: 0 !important;
  }

  .smallCard {
    height: 40px;
    font-size: 0.7em;
  }
  .all {
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
